<td>
  <p><%= model.operator&.name %></p>
  <p><time data-controller="time" data-format="human"><%= model.created_at.to_formatted_s(:iso8601) %></time></p>
  <p><%= model.action %></p>
  <p><%= model.controller_path %>/<%= model.action_name %></p>
  <p><%= model.remote_ip %></p>
  <p><%= model.note %></p>
</td>
<td class="background-light">
<% max_width = model.audited_changes_i18n.keys.map(&:length).max %>
<% model.audited_changes_i18n.each do |key, value| %>
  <div>
    <span class="family-monospace text-right text-grey" style="display: inline-block;width: <%= max_width + 1 %>ch"><%= key %>:</span>
    <% if value.is_a?(Array) %>
      <span><%= value[0] %></span>
      <%= svg_tag 'arrow-right' %>
      <span><%= value[1] %></span>
    <% else %>
      <span><%= value %></span>
    <% end %>
  </div>
<% end %>
</td>
<td>
  <% model.related_changes.each do |key, records| %>
    <span class="tag"><%= key %></span>
    <% records.each do |record| %>
      <% record.each do |k, v| %>
      <div>
        <span><%= k %></span>
        <span><%= v[0] %></span>
        <%= svg_tag 'arrow-right' %>
        <span><%= v[1] %></span>
      </div>
      <% end %>
    <% end %>
  <% end %>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'restore', id: model.id }, aria: { label: t('.restore.title') }, form: { data: { turbo_confirm: t('.restore.confirm') } }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-window-restore text-danger"></i>
    <% end %>
  </div>
</td>